<template>
    <v-row justify="center" dense>
        <v-col class="col-auto" v-for="(btn, key ) in buttons" :key="key">
            <v-btn
                rounded
                :normal="sizeNormal"
                :x-large="!sizeNormal"
                class="blue darken-3 white--text"
                v-on:click="$emit('answer', btn.value)"
            >{{ btn.label }}</v-btn>
        </v-col>
    </v-row>
</template>

<script scoped>
export default {
    name: "Buttons",
    props: { buttons: Array },
    
    computed: {
        sizeNormal() {
            return this.$vuetify.breakpoint.xs
        }
    }
};
</script>

<style>
.btn-n {
    border: solid 1px !important;
}
</style>
