<template>
    <v-row>
        <v-col>
            <v-text-field
                :label="label"
                outlined
                hide-details
                append-outer-icon="mdi-send"
                @click:append-outer="reply()"
                v-model="value"
                v-on:keyup="validate($event)"
                v-on:keyup.enter="reply()"
                :inputmode="inputmode"
            ></v-text-field>
        </v-col>
    </v-row>
</template>

<script>
export default {
    props: [ 'mask', 'label' ],

    data() {
        return {
            value: ''
        }
    },

    computed: {
        inputmode() {
            if (this.mask == 'integer') {
                return 'numeric'
            }

            if(this.mask == 'currency') {
                return 'decimal'
            }

            return ''
        }
    },

    methods: {
        validate() {
            if (this.mask == 'integer') {
                this.value = this.value.replace(/\D/g,'')
            }
            if (this.mask == 'currency') {
                let match = this.value.match(/^(\d+)(,|\.)?(\d{1,2})?/g)
                if (!match) {
                    this.value = ''
                } else {
                    this.value = match.join('')
                }
            }
        },

        reply() {
            if (this.value) {
                this.$emit('answer', this.value)
                this.value=''
            }
        }
    }
}
</script>

<style>
</style>
