<template>
    <v-container id="chat">
        <Message
            v-for="(msg, i ) in chatMessages"
            :key="i"
            :type="msg.type"
            :message="msg.message"
            @messageDone="showNewMessage()"
        />

        <router-link to="/finish" v-if="lastQuestionId == 'final' && !writing">
            <v-alert text type="success">
                Clique <strong>aqui</strong> e descubra o seu perfil.
            </v-alert>
        </router-link>

        <FooterChat />
    </v-container>
</template>

<script>
import Message from "./Message"
import ApiService from "@/services/ApiService"
import FooterChat from "./FooterChat"

export default {
    name: "Chat",
    components: { Message, FooterChat },

    mounted() {
        ApiService.postMessage({}).then(data => {
            this.$store.dispatch("storeResponseData", data.data)
        })
    },

    data() {
        return {
            chatMessages: [],
            writing: true
        }
    },

    computed: {
        storedMessages() {
            return this.$store.getters.getMessages
        },

        lastQuestionId() {
            return this.$store.getters.getLastQuestionId
        }
    },

    watch: {
        storedMessages() {
            this.showNewMessage()
        }
    },

    methods: {
        showNewMessage() {
            if (this.storedMessages.length > this.chatMessages.length) {
                this.writing = true
                this.$store.commit("setShowCustomerField", false)
                let nextMessage = this.storedMessages[this.chatMessages.length]
                this.chatMessages.push(nextMessage)
            } else if (this.storedMessages[this.storedMessages.length - 1].type != "customer") {
                this.writing = false
                this.$store.commit("setShowCustomerField", true)
            }
        }
    }
}
</script>

<style scoped>
.message p {
    margin-bottom: 0px;
    font-size: 1rem;
    color: #000;
}

#chat {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}
</style>
