<template>
    <transition name="slide" appear>
        <v-footer id="footerChat" app color="grey lighten-2" v-show="showCustomerField && fieldType">
            <v-container>
                <Inputs v-if="fieldType == 'inputs'" @answer="sendAnswer($event)" :mask="fieldMask" :label="label" />
                <Buttons v-if="fieldType == 'buttons'" :buttons="buttons" @answer="sendAnswer($event)" />
            </v-container>
        </v-footer>
    </transition>
</template>

<script>
import Inputs from './customer-fields/Inputs'
import Buttons from './customer-fields/Buttons'
import ApiService from '@/services/ApiService'

export default {
    name: "FooterChat",
    components: { Inputs, Buttons },

    computed: {
        showCustomerField() {
            return this.$store.getters.getShowCustomerField
        },

        fieldType() {
            return this.$store.getters.getCustomerFieldType
        },

        fieldMask() {
            return this.$store.getters.getCustomerFieldMask
        },

        lastQuestionId() {
            return this.$store.getters.getLastQuestionId
        },

        responses() {
            return this.$store.getters.getResponses
        },

        answers() {
            return this.$store.getters.getAnswers
        },

        label() {
            switch (this.lastQuestionId) {
                case 'question_name': return 'Digite seu nome'
                case 'question_age': return 'Digite sua idade'
                case 'question_income': return 'R$'
                case 'question_email': return 'Digite seu email'
                default: return null
            }
        },
        
        buttons() {
            return this.$store.getters.getCustomerField.data.map(el => { 
                return { value: el.value, label: el.label.title }
            })
        },
    },

    methods: {
        sendAnswer(answer) {
            this.addMessage(answer)

            let body = {
                id: this.lastQuestionId,
                answers: this.answers
            }
            ApiService.postMessage(body).then(data => {
                this.$store.dispatch("storeResponseData", data.data)
            })
        },

        addMessage(answer) {
            this.$store.commit("addAnswer", { [this.lastQuestionId]: answer })
            
            let messageValue = answer
            if(this.fieldType == 'inputs' && this.responses.length) {
                messageValue = this.responseReplace()
            }

            if(this.fieldType == 'buttons') {
                messageValue = this.buttons.find(el => el.value == answer).label
            }
            
            this.$store.commit("addMessage", {
                type: "customer",
                message: messageValue
            })
        },

        responseReplace() {
            return this.responses[0].replace(
                /\{\{([\s\w]*).([\s\w]*)\}\}/g,
                (match, $1, $2) => {
                    return this[$1][$2]
                }
            )
        }
    }
}
</script>

<style>
@keyframes slide-in {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slide-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}
.slide-enter-active {
    animation: slide-in 0.5s linear;
}
.slide-leave-active {
    animation: slide-out 0.5s linear;
}

#footerChat {
    height: 100px;
}

@media(max-width: 600px) {
    #footerChat, #footerChat > .container{
        padding: 0 2px 0 2px;
    }
}
</style>
