<template>
    <v-row class="message message-warren flex-nowrap" :justify="justify">

        <!-- warren icon -->
        <v-col class="col-auto" v-if="type != 'customer'">
            <svg
                data-v-188fa411
                version="1.1"
                viewBox="0 0 48 47"
                class="svg-icon svg-fill"
                style="width: 32px; height: 32px;"
            >
                <path
                    fill="#EE2E5D"
                    stroke="none"
                    pid="0"
                    d="M36 29.55c0 2.538-2.05 4.595-4.578 4.595a.962.962 0 01-.96-.964V13.007c0-.532.43-.964.96-.964h3.618c.53 0 .96.432.96.964v16.544zm-9.23 3.631c0 .533-.43.964-.961.964H22.19a.962.962 0 01-.96-.964V18.533c0-.532.43-.964.96-.964h3.618c.53 0 .96.432.96.964v14.648zm-9.232 0c0 .533-.43.964-.96.964H12.96a.962.962 0 01-.961-.964V15.787c0-.533.43-.964.96-.964h3.618c.53 0 .96.431.96.964V33.18zM30.461 0H17.538C7.852 0 0 7.88 0 17.602v27.623c0 .532.43.964.96.964h29.501C40.148 46.189 48 38.308 48 28.587V17.602C48 7.881 40.148 0 30.461 0z"
                    _fill="#FFF"
                    fill-rule="evenodd"
                ></path>
            </svg>
        </v-col>

        <!-- text message -->
        <v-col class="col-auto flex-shrink-1">
            <v-card :color="color" v-if="startWrite || type == 'customer'">
                <v-card-text>
                    <vue-typed-js :strings="[message]" :showCursor='false' :typeSpeed='5' @onComplete="$emit('messageDone', true)">
                        <p class="font-weight-medium typing"></p>
                    </vue-typed-js>
                </v-card-text>
            </v-card>
        </v-col>
        
        <!-- customer icon -->
        <v-col class="col-auto" v-if="type == 'customer'">
            <v-icon size="32" color="blue darken-4">mdi-account</v-icon>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name: 'Message',
    props: ['type', 'message'],
    data() {
        return {
            startWrite: false
        }
    },
    
    mounted() {
        setTimeout(() => {
            this.startWrite = true
            document.querySelector('html').scrollTop = document.querySelector('html').scrollHeight
        }, 500)
    },

    computed: {
        color() {
            if (this.type == 'customer') {
                return '#FFF9C4';
            }
            return '#E3F2FD';
        },

        justify() {
            if (this.type == 'customer') {
                return 'end';
            }
            return 'start';
        }
    }
};
</script>

<style scoped>
.message p {
    margin-bottom: 0px;
    font-size: 1rem;
    color: #000;
}

.custom.caret {
    display: none;
}
</style>
