<template>
    <v-app-bar app color="#EE2E5D" dark class="d-flex justify-center">
        <h1>WARREN</h1>
    </v-app-bar>
</template>

<script>
export default {
    name: "Header"
}
</script>

<style>
</style>
