<template>
    <v-container id="chat">
        <v-card class="mx-auto" max-width="500">
            <template v-if="profileOk">

                <v-card-title>
                    <h2>PERFIL</h2>
                </v-card-title>
                
                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title>Tipo de perfil:</v-list-item-title>
                        <v-list-item-subtitle>{{ computedProfileType }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title>Tolerância ao risco:</v-list-item-title>
                        <v-list-item-subtitle>{{ computedRiskTolerance }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

            </template>

            <template v-else>
                <v-card-title>
                    <p>{{ infoText }}</p>
                </v-card-title>
            </template>
        </v-card>
    </v-container>
</template>

<script>
import ApiService from '@/services/ApiService'

export default {
    name: "ProfileFinish",

    mounted() {
        ApiService.getProfileResult(this.answers).then(data => {
            this.computedProfileType = data.data.user.investmentProfile.computedProfileType
            this.computedRiskTolerance = data.data.user.investmentProfile.computedRiskTolerance
            this.profileOk = true
        }).catch(() => {
            this.infoText = 'Erro! Volte para preencher seu perfil.'
        })
    },

    data() {
        return {
            answers: {
                question_name: "Nicolas",
                question_age: "27",
                question_interest: "A",
                question_preference: "A",
                question_income: "8000",
                question_read: "A",
                question_investment_experience: "A",
                question_market: "A",
                question_lottery: "A",
                question_email: "ncs@email.com"
            },
            infoText: 'Aguarde, carregando perfil...',
            profileOk: false,
            computedProfileType:'',
            computedRiskTolerance: ''
        }
    }
}
</script>

<style>
</style>
