<template>
    <v-app>
        <Header></Header>

        <v-content>
            <router-view></router-view>
        </v-content>

    </v-app>
</template>

<script>
import Header from "./components/Header";
// import Chat from "./components/chat/Chat";

export default {
    name: "App",

    components: {
        Header,
        // Chat,
    },

    data: () => ({
        //
    })
};
</script>

<style>
html {
    scroll-behavior: smooth;
}
</style>
